 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

body {
  width:100%;
  height:100%;
  background-color:#fff;
  margin:0;
}

.hidden-card {
    display: none !important; 
}

.br-6 {
    border-radius: 24px;
}

.my-g-3 {
    gap:12px;
}

.my-h1 {
    font-size: 68px;
    line-height: 1;
    font-family: 'Manrope';
    letter-spacing: -1px;
    max-width: 600px;
    font-weight: 600;
    padding: 64px 0 48px 0;
    margin:0;
}

p{
    margin:0 !important;
}
 .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px; 
  height: 48px; 
  border-radius: 50%; 
  color: white; 
  font-weight: bold;
  font-size: 18px; 
  flex-shrink: 0; 
}
  

    .truncated-text {
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 5;
      -webkit-line-clamp: 5; 
      -webkit-box-orient: vertical;
    }

    .expanded-text {
      display: block;
    }

    .read-more-link {
      color: #262626;
      cursor: pointer;
      font-weight: 600;
    }
    
    .course {
        padding: 2px 8px;
        background-color: #f7f7f7;
        border-radius: 8px;
    }


.main-container {
    margin:0 auto; 
    max-width: 1400px; 
    padding: 0 40px;
}

.my-btn {
    display:inline-flex;
    align-items:center;
    font-size:16px;
    line-height:24px;
    border:none;
    border-radius:12px;
    font-family: 'Manrope', sans-serif;
    max-height:48px;
    height:48px;
    justify-content:center;
    text-decoration: none;
    gap:8px;
}


.btn-1 {
  color:#262626;
  padding: 0 16px 0 8px;
  background-color:transparent;
  
  &:hover{
    background-color:rgb(0 0 0 / 5%);
  }
}


.btn-2 {
  color:#fff !important;
  padding: 0 16px;
  background-color:#262626;
  
  &:hover{
    background-color:#404040;
  }
}

.sort-select {
    display:inline-flex;
    max-height:48px;
    min-height: 48px;
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    line-height:24px;
    border:0px solid transparent;
    color: #262626;
    padding:0 16px;
    border-radius:12px;
    background: rgb(0 0 0 / 3%);
    width: 240px;
    background-image:url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position:right 8px top 50%,0 0;
    appearance:none;
    cursor:pointer;
    
    &:hover{
       background: rgb(0 0 0 / 5%); 
       background-image:url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
       background-repeat: no-repeat;
       background-position:right 8px top 50%,0 0;
    appearance:none;
    }
    
    &:focus{
        outline: none;
    }
 }

.my-card {
    border-top: 1px solid #EBEBEB;
    background-color:white;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.txt-subtitle {
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    line-height: 24px;
  font-weight: 600 !important;
}

.txt {
    font-family: 'Manrope', sans-serif;
    font-size:16px;
    line-height:24px;
    font-weight: 400;
}

.txt-primary {
  color:#262626;
 }

.txt-secondary {
  color:#737373;
}

 .txt-small {
     font-size:14px !important;
     line-height: 20px !important;
     letter-spacing: 0.25px !important;
 }

 .content-wrapper {
    flex-direction: row;
    gap:40px;
 }

 
.widget-review {
    background-color: #fafafa;
    width: 100%;
    max-width: 800px;
    border-radius: 24px;
    clip-path: border-box;
}

.widget-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 24px;
    font-family: 'Manrope';
    color:#262626;
}

.review-heading {
    display: flex;
    gap:16px;
    font-family: 'Manrope';
    font-size: 14px;
    padding: 16px 24px;
    font-weight: 400;
    color:rgba(0,0,0, 0.6);
    letter-spacing: 0.2px;
    justify-content: space-between;
}

.review-card {
    align-items: center;
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color:#262626;
    justify-content: space-between;
}

.review-link {
    text-decoration: none;

    &:hover{
        background-color: rgba(0,0,0, 0.03);  
    }
}


.my-hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #EBEBEB;
    margin: 0 0 16px 0;
    padding: 0;
    opacity: 1;
}

a {
    text-decoration: none;
}

@media screen and (max-width:1199px){
    .my-h1 {
        font-size: 60;
    }
    .sort-select {
        width:100%;
}
}

@media screen and (max-width:959px){
    .my-h1 {
        font-size: 52px;
        padding: 48px 0 32px 0;
    }
    .content-wrapper {
        flex-direction: column-reverse;
        gap:24px;
    }
    .main-container {
        max-width: 100%;
        padding:0 16px;
    }
  .reg {
        display: none;
    }
}


@media screen and (max-width:639px){
    .my-h1 {
        font-size: 48px;
    }
   
}

@media screen and (max-width:479px){
    .my-h1 {
        font-size: 32px;
        line-height: 1.12;
        padding: 32px 0 24px 0;
    }
    .txt {
        font-size:15px;
        line-height:22px;
    }
}
